
<p>I am currently a fellow at the Flatiron School, studying full stack development.  
	<br/>I am primarily interested in web development, web scraping, and databases.  
	<br/>Below are links to my work on GitHub(most of which is in progress) and other
	<br/> information about me.<p>
<p>--Tessa<p>
<p>tessa.fallon@gmail.com<p>
	<ul>
		<li><a href="https://https://github.com/tessafallon">Projects on GitHub (some highlights below)</a></li>
		<ul>
			<li><a href="https://github.com/tessafallon/games/blob/master/cia.rb">XML Scraper (with Nokogiri)</a></li>
			<li><a href="https://github.com/tessafallon/RPS">Rock, Paper, Scissor!</a></li>
			<li><a href="http://tessabike.herokuapp.com/form">Citibike Map App</a></li>
		</ul>
		<li><a href="https://linkedin.com/in/tessafallon">LinkedIn</a></li>
		<li><a href="https://twitter.com/tessafallon">Twitter</a></li>
	</ul>


<p> HTML/CSS is not my strong suit...<p>
