<body background="./vintage_wallpaper4.jpg"> 
<p>I am currently a fellow at the Flatiron School, studying full stack development.  I am primarily interested in web development, web scraping, and databases.  These are my projects on GitHub.  Most are in various stages of completion.  A few that I'm pleased with:<p>
	<ul>
		<li></li>
	</ul>

<a href="https://https://github.com/tessafallon">Projects on GitHub</a>